{% if end_date != blank %} 
 
{% assign cur_date = "now" | date: "%b %d, %Y %H:%M:%S" %}    


 <div class="timer"> 

   {% if title != blank %}<h4 class="timer__title">{{ title }}</h4>{% endif %} 

   <div class="timer-display"> 

     <div class="timer-block"> 
        
       <span class="timer-block__num js-timer-days">00</span> 

       <span class="timer-block__unit">d</span> 

       <span class="timer-block__seprate">:</span> 

     </div> 

     <div class="timer-block"> 

       <span class="timer-block__num js-timer-hours">00</span> 

       <span class="timer-block__unit">h</span> 

       <span class="timer-block__seprate">:</span> 

     </div> 

     <div class="timer-block"> 

       <span class="timer-block__num js-timer-minutes">00</span> 

       <span class="timer-block__unit">m</span> 

       <span class="timer-block__seprate">:</span> 

     </div> 

     <div class="timer-block"> 

       <span class="timer-block__num js-timer-seconds">00</span> 

       <span class="timer-block__unit">s</span> 

     </div> 

   </div> 

 </div> 

 <script type="text/javascript"> 

        var second = 1000, 
        minute = second * 60, 
        hour = minute * 60, 
        day = hour * 24; 

        var countDown = new Date('{{- end_date -}}').getTime();
        //var now = new Date('{{- cur_date -}}').getTime();
        var now = new Date('{{- cur_date -}}');

        x = setInterval(function() { 
        //var now = new Date('{{- cur_date -}}').getTime(),  
        //var now = new Date('{{- cur_date -}}').getTime();
        //res_now = now.setSeconds(now.getSeconds()-1);
        distance = countDown - now.setSeconds(now.getSeconds()+1); 
        //distance = countDown - res_now;        
        document.querySelector('.js-timer-days').innerText = Math.floor(distance / (day)), 
        document.querySelector('.js-timer-hours').innerText = Math.floor((distance % (day)) / (hour)), 
        document.querySelector('.js-timer-minutes').innerText = Math.floor((distance % (hour)) / (minute)), 
        document.querySelector('.js-timer-seconds').innerText = Math.floor((distance % (minute)) / second); 

     }, second) 

 </script> 

 {% endif %} 